{% load static %}
<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Take a look to my Attractive Portfolio</title>
    <link rel="icon" href="{% static 'images/logo-icon.png' %}">
    <link rel="icon" href="/Assets/img/15.jpg">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'icofont/icofont.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'aos/aos.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="preload" href="{% static 'images/fonts/Agustina.21f233e1.woff' %}" as="font" type="font/woff" crossorigin="">
    <script src="https://use.fontawesome.com/66c3c19309.js"></script>
    <script src="https://unpkg.com/ionicons@5.5.3/dist/ionicons.js"></script>
    <!-- links -->
</head>
<body>
    <header id="header" class="fixed-top ">
        <div class="container-fluid  navbur">

            <div class="navi">
                <div class="col-xl-9 d-flex align-items-center lefty">
                    <h1 class="logo mr-auto"><a href="{% url 'main:main_home' %}">Fabin Ziyad</a></h1>


        


        <nav class="nav-menu d-none d-lg-block float-right">
            <ul>
                <li><a href="{% url 'main:main_home' %}">Home</a></li>
                <li class="active"><a href="{% url 'main:portfolio' %}">My Works</a></li>
                <li><a href="{% url 'main:contact' %}">Contact</a></li>
                <!-- <div class="invert pl-4 " id="theme-button">
                    <ion-icon name='contrast-outline' style="color:White"></ion-icon>
                </div> -->
                <!--  -->


            </ul>
        </nav>
    </div>
</div>
</div>

</header>

<section class="portfoilo-section">


<div class="work">
  <div class="container" id="work">
      <div class="title-portfolio">
          <h1 >My Recent Works</h1>
      </div>
      <div class="small-container">
        <div class="row3 ">
              {% for wrks in Allworks %}
              <div class="card initial-6  w- aos-init mt-4">
                  <img src="{{wrks.image.url}}" alt="main image">
                  <div class="card-data col-5-info px-3 py-3">
                      <h3 class="pb-1">{{wrks.title}}</h3>
                      <p class="pb-1">{{wrks.skill}}</p>
                      <button><a href="{{wrks.link}}">VISIT</a></button>
                  </div>
              </div>
              {% endfor %}
          </div>
      </div>
     
  </div>
</div>
</section>

<footer id="contact">
  <div class="container">
  
          <div class="footing ">
              <div class="row justify-content-center ">
                  <div class="col-md-4 ">
                      <p>Designed By Fabin Ziyad</p>
                      <p>A Full Web Developer</p>
                      <p id="copy ">© COPYRIGHTS FABIN ZIYAD. ALL RIGHTS RESERVED.
                  </div>
              </div>
              </p>
          </div>
      </div>
  </div>
  <div class="up-arrow ">
      <div class="arrow ">
          <a href="# "><i class="fa fa-angle-up "></i>
      </a>
      </div>
  </div>

</footer>

    <div id="preloader"></div>

    <script src="{% static 'jquery/jquery.min.js' %}"></script>

    <script src="{% static 'aos/aos.js' %}"></script> 
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <script>
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
          if (prevScrollpos > currentScrollPos) {
            document.getElementById("header").style.top = "0";
          } else {
            document.getElementById("header").style.top = "-82px";
          }
          prevScrollpos = currentScrollPos;
        }
      </script>
    <script src="{% static 'jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>